{% extends "layout/basic.html" %}

{% block title %}Добавление объявления{% endblock %}

{% block content %}
    <h2>Добавление объявления</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Добавить">
    </form>
{% endblock %}

<!DOCTYPE html>
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Добавление объявления - Доска объявлений</title>
</head>
<body>
    <h1>Добавление объявления</h1>
    <h2>Рубрика: {{ current_rubric.name }}</h2>
    <div>
        <a href="{% url 'index' %}">Главная</a>
        {% for rubric in rubrics %}
            <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>
        {% endfor %}
        <a href="{% url 'add' %}">Добавить</a>
    </div>

</body>
</html>